openapi: 3.0.0
info:
  title: KZNDOT
  version: '1.0'
  description: >-
    The following is an API reference for the KZN DOT mobile application and
    backend. The document is designed to be a guide and documentation for the
    APIs.

    Developers are expected to keep this document up to date and all changes that
    are made to the APIs and models need to be updated.
  contact:
    name: Mazi Muhlari
    email: mazim@boxfusion.co.za
servers:
  - url: 'http://kzndot.smartcitizen.com/api/v1'
  - url: 'http://testkzndot.smartcitizen.com/api/v1'
    description: ''
paths:
  /token:
    post:
      summary: Generate Token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
      description: Authenticate a user for access to the system. This request returns a new token.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
            examples: {}
      tags:
        - authentication
  /users/general:
    get:
      summary: Get General Information
      tags:
        - users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  station:
                    type: string
                  region:
                    type: string
                  date:
                    type: string
                  nameOfOfficer:
                    type: string
                  rank:
                    type: string
                  officerInfrastructureNo:
                    type: string
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          description: The authentication token
          required: true
      description: Retreive the general information about the officer such as their rank and station information.
    put:
      summary: Update General Information
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          description: The authentication token
          required: true
      description: Update the general information about the officer such as their rank and station information.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                station:
                  type: string
                region:
                  type: string
                date:
                  type: string
                nameOfOfficer:
                  type: string
                rank:
                  type: string
                officerInfrastructureNo:
                  type: string
      tags:
        - users
  /tasks:
    get:
      summary: Get Users Task List
      tags:
        - tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  preChecklist:
                    type: object
                    properties:
                      startTime:
                        type: string
                      endTime:
                        type: string
                      taskStatus:
                        type: string
                  stopStart:
                    type: object
                    properties:
                      startTime:
                        type: string
                      endTime:
                        type: string
                      taskStatus:
                        type: string
                  speedTiming:
                    type: object
                    properties:
                      startTime:
                        type: string
                      endTime:
                        type: string
                      taskStatus:
                        type: string
                  postChecklist:
                    type: object
                    properties:
                      startTime:
                        type: string
                      endTime:
                        type: string
                      taskStatus:
                        type: string
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
      description: Returns a list of tasks for a specific user.
  /accidents:
    get:
      summary: Get List of Accidents
      tags:
        - accidents
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          description: The authentication token
          required: true
          name: x-auth-token
        - schema:
            type: string
          in: query
          name: status
          description: filter the accidents by their statuses.
        - schema:
            type: string
          in: query
          name: userId
          description: Filters accidents for a specific user when present.
      description: Returns a list of accidents.
  /incidents:
    get:
      summary: Get List of Incidents
      tags:
        - incidents
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
        - schema:
            type: string
          in: query
          description: filter the incidents by their statuses.
          name: status
        - schema:
            type: string
          in: query
          name: userId
          description: Filters incidents for a specific user when present.
      description: Returns a list of incidents.
  /checklists:
    get:
      summary: Your GET endpoint
      tags:
        - checklists
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
  /transactions:
    get:
      summary: Your GET endpoint
      tags:
        - transactions
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
    post:
      summary: ''
      responses:
        '200':
          description: OK
  /stopandstarts:
    get:
      summary: Your GET endpoint
      tags:
        - stop and starts
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
  /arrests:
    get:
      summary: Your GET endpoint
      tags:
        - arrests
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
  /roadblocks:
    get:
      summary: Your GET endpoint
      tags:
        - roadblocks
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
  /checklists/pre:
    get:
      summary: Your GET endpoint
      tags:
        - checklists
        - pre checklists
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
  /checklists/post:
    get:
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          description: The authentication token
          required: true
      tags:
        - checklists
        - post checklists
  /tasks/summary:
    get:
      summary: Get Users Task List Summary
      tags:
        - tasks
      responses: {}
      description: Returns a summary of the list of tasks for a user.
  '/accidents/{accidentId}':
    parameters:
      name: accidentId
      in: path
      required: true
      type: string
      description: The id of the incident to retrieve
    get:
      summary: Get Accident By Id
      tags:
        - accidents
      responses: {}
      description: Returns the details of a specific accident.
  '/incidents/{incidentId}':
    parameters:
      name: incidentId
      in: path
      required: true
      type: string
      description: The id of the incident to retrieve
    get:
      summary: Get Incident By Id
      tags:
        - incidents
      responses: {}
      parameters: []
      description: Returns the details of a specific incident.
  /comments:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
    post:
      summary: ''
      responses:
        '200':
          description: OK
      tags:
        - comments
  /roadblocks/attendances:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
    post:
      summary: ''
      responses:
        '200':
          description: OK
  /signature:
    post:
      summary: ''
      responses:
        '200':
          description: OK
components:
  schemas: {}
