openapi: 3.0.0
info:
  title: KZNDOT
  version: '1.0'
  description: >-
    The following is an API reference for the KZN DOT mobile application and
    backend. The document is designed to be a guide and documentation for the
    APIs.

    Developers are expected to keep this document up to date and all changes that
    are made to the APIs and models need to be updated.
  contact:
    name: Mazi Muhlari
    email: mazim@boxfusion.co.za
servers:
  - url: 'http://kzndot.smartcitizen.com/api/v1'
  - url: 'http://testkzndot.smartcitizen.com/api/v1'
    description: ''
paths:
  /token:
    post:
      summary: Generate Token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
      description: Authenticate a user for access to the system. This request returns a new token.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
            examples: {}
      tags:
        - authentication
  '/users/{userId}/general':
    get:
      summary: Get User General Details
      tags:
        - users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  station:
                    type: string
                  region:
                    type: string
                  date:
                    type: string
                  nameOfOfficer:
                    type: string
                  rank:
                    type: string
                  officerInfrastructureNo:
                    type: string
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          description: The authentication token
          required: true
      description: Retreive the general information about the officer such as their rank and station information.
    put:
      summary: Update General Information
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          description: The authentication token
          required: true
      description: Update the general information about the officer such as their rank and station information.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                station:
                  type: string
                region:
                  type: string
                date:
                  type: string
                nameOfOfficer:
                  type: string
                rank:
                  type: string
                officerInfrastructureNo:
                  type: string
      tags:
        - users
  /tasks:
    get:
      summary: Get Tasks
      tags:
        - tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  preChecklist:
                    type: object
                    properties:
                      startTime:
                        type: string
                      endTime:
                        type: string
                      taskStatus:
                        type: string
                  stopStart:
                    type: object
                    properties:
                      startTime:
                        type: string
                      endTime:
                        type: string
                      taskStatus:
                        type: string
                  speedTiming:
                    type: object
                    properties:
                      startTime:
                        type: string
                      endTime:
                        type: string
                      taskStatus:
                        type: string
                  postChecklist:
                    type: object
                    properties:
                      startTime:
                        type: string
                      endTime:
                        type: string
                      taskStatus:
                        type: string
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
      description: Returns a list of tasks for a specific user.
  /accidents:
    get:
      summary: Get Accidents
      tags:
        - accidents
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          description: The authentication token
          required: true
          name: x-auth-token
        - schema:
            type: string
          in: query
          name: status
          description: filter the accidents by their statuses.
        - schema:
            type: string
          in: query
          name: userId
          description: Filters accidents for a specific user when present.
      description: Returns a list of accidents.
  /incidents:
    get:
      summary: Get Incidents
      tags:
        - incidents
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
        - schema:
            type: string
          in: query
          description: filter the incidents by their statuses.
          name: status
        - schema:
            type: string
          in: query
          name: userId
          description: Filters incidents for a specific user when present.
      description: Returns a list of incidents.
  '/tasks/{taskId}/checklists':
    get:
      summary: Get Task Checklists
      tags:
        - checklists
        - tasks
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
    post:
      summary: Submit Task Checklists
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/transactions':
    get:
      summary: Get Task Transactions
      tags:
        - transactions
        - tasks
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
    post:
      summary: Create Task Transactions
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/startstop':
    get:
      summary: Get Task Start Stop
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
      tags:
        - startstop
        - tasks
    post:
      summary: Submit Task Start Stop
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/arrests':
    get:
      summary: Get Arrests
      tags:
        - arrests
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
    post:
      summary: Create Arrest
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/roadblocks':
    get:
      summary: Get Task Roadblocks
      tags:
        - roadblocks
        - tasks
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
  '/tasks/{taskId}/checklists/{checklistId}/inpsection/pre':
    get:
      summary: Get Task Checklist Pre Inspection
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          required: true
          description: The authentication token
      tags:
        - tasks
        - checklists
    put:
      summary: Update Task Checklist Pre Inspection
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/checklists/{checklistId}/inspection/post':
    get:
      parameters:
        - schema:
            type: string
          in: header
          name: x-auth-token
          description: The authentication token
          required: true
      tags:
        - checklists
        - tasks
      summary: Get Task Checklist Post Inspection
    put:
      summary: Update Task Checklist Post Inspection
      responses:
        '200':
          description: OK
  '/tasks/{taskId}':
    get:
      summary: Get Task Details
      tags:
        - tasks
      responses: {}
      description: Returns a summary of the list of tasks for a user.
  '/accidents/{accidentId}':
    parameters:
      name: accidentId
      in: path
      required: true
      type: string
      description: The id of the incident to retrieve
    get:
      summary: Get Accident Details
      tags:
        - accidents
      responses: {}
      description: Returns the details of a specific accident.
  '/incidents/{incidentId}':
    parameters:
      name: incidentId
      in: path
      required: true
      type: string
      description: The id of the incident to retrieve
    get:
      summary: Get Incident Details
      tags:
        - incidents
      responses: {}
      parameters: []
      description: Returns the details of a specific incident.
  /comments:
    get:
      summary: Get Comments
      tags:
        - comments
      responses: {}
    post:
      summary: Create Comment
      responses:
        '200':
          description: OK
      tags:
        - comments
  '/tasks/{taskId}/roadblocks/{roadblockId}/attendances':
    get:
      summary: Get Task Roadblock Attendance
      tags:
        - tasks
        - roadblocks
      responses: {}
    post:
      summary: Submit Task Roadblock Attendance
      responses:
        '200':
          description: OK
  /signature:
    post:
      summary: Create Signature
      responses:
        '200':
          description: OK
      tags:
        - signatures
  '/tasks/{taskId}/checklists/{checklistId}/general':
    get:
      summary: Get Task Checklist General Details
      tags:
        - tasks
        - checklists
      responses: {}
    put:
      summary: Update Task Checklist General Details
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/checklists/{checklistId}/trip':
    get:
      summary: Get Task Checklist Trip
      tags:
        - tasks
        - checklists
        - trips
      responses: {}
    put:
      summary: Update Task Checklist Trip
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/checklists/{checklistId}/equipment/pre':
    get:
      summary: Get Task Checklist Pre Equipment
      tags:
        - tasks
        - checklists
        - equipment
      responses: {}
    put:
      summary: Update Task Checklist Pre Equipment
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/checklists/{checklistId}/equipment/post':
    get:
      summary: Get Task Checklist Post Equipment
      tags:
        - tasks
        - checklists
        - equipment
      responses: {}
    put:
      summary: Update Task Checklist Post Equipment
      responses:
        '200':
          description: OK
  '/tasks/{taskId}/startstop/{startStopId}/general':
    parameters:
      name: startStopId
      in: path
      required: true
      type: string
    get:
      summary: Get Task Start Stop General Details
      tags:
        - tasks
        - startstop
      responses: {}
    put:
      summary: Update Task Start Stop General Details
      responses:
        '200':
          description: OK
components:
  schemas: {}
